{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}CodeLearn Hub{% endblock %}</title>

    <!-- Bootstrap -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <!-- Bootstrap Icons -->
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        rel="stylesheet"
    >

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

    {% include "blog/includes/navbar.html" %}

    {% include "blog/includes/sidebar.html" %}


    <!-- =========================
         MAIN
    ========================= -->

    <main class="main-content">

        <div class="content-wrapper">

            {% block content %}

            {% endblock %}

        </div>

    </main>

    {% include "blog/includes/footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
    </script>

    <script src="{% static 'js/theme.js' %}"></script>


    {% block extra_js %}{% endblock %}

</body>
</html>